Django==1.9
Pillow==2.3.0
django-grappelli==2.8.1
django-suit==0.2.18
django-suit-ckeditor==0.0.2
djangorestframework
django-cors-headers
https://github.com/danleyb2/django-pa/archive/master.zip
https://github.com/kenyansongithub/django-rog/archive/master.zip
