{% extends 'admin/layout.html' %}


{% block content %}


    <div class="card">
        <div class="card-body">
            <a href="{% url 'blog:posts:create' %}" class="card-link">Create New</a>

        </div>
        <div class="card-body">
            {% if posts.exists %}

                <ul class="list-group">
                    {% for post in posts %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ post.heading }}

                            <a class="badge badge-primary badge-pill" href="{% url 'blog:posts:post:edit' post.pk %}">edit</a>
                            <a class="badge badge-danger badge-pill" href="{% url 'blog:posts:post:delete'  post.pk %}">delete</a>

                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="post-preview">
                    <h2 class="post-title">
                        No posts yet
                    </h2>

                    <a href="{% url 'blog:posts:create' %}">create</a>

                </div>
            {% endif %}

        </div>
    </div>


{% endblock %}