{% extends 'authentication/layout.html' %}
{% load web_filters %}

{% block content %}

    <div class="col-xl-5 col-lg-6 col-md-7">
        <div class="text-center">
            <h1 class="h2">Forgot password &#x1f62B;</h1>
            <p class="lead">Enter your email address to reset</p>
            <form method="post">
                {% if form.errors %}
                    <p>{{ form.errors }}</p>
                {% endif %}
                {% csrf_token %}
                {% for field in form %}

                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p style="color: red">Error {{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    <div class="form-group">
                        {{ field|addclass:'form-control' }}

                    </div>
                {% endfor %}

                <button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
                    Send reset link
                </button>
            </form>
        </div>
    </div>

{% endblock %}