{% extends 'authentication/layout.html' %}
{% load web_filters %}

{% block  content %}
    <div class="col-xl-5 col-lg-6 col-md-7">
        <div class="text-center">

            {% if validlink %}


                <h1 class="h2">Change password</h1>
                <p class="lead">Create a New Password</p>
                <form method="post">
                    {% csrf_token %}

                    {% if form.errors %}
                        <p>{{ form.errors }}</p>
                    {% endif %}

                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p style="color: red">Error {{ error }}</p>
                            {% endfor %}
                        {% endif %}

                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field|addclass:'form-control' }}
                            <small> {{ field.help_text|safe }}</small>

                        </div>

                    {% endfor %}


                    <button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
                        Submit
                    </button>

                </form>

            {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </p>
            {% endif %}

        </div>
    </div>


{% endblock %}