{% extends "blog/layout.html" %}

{% block content %}


<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>CodeFreak</h1>
                        <hr class="small">
                        <span class="subheading">Human Beings are Intelligent, Computers are just faster.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                {% if latest_post %}
                    {% for post in latest_post %}
                
                <div class="post-preview">
                    <a href="{% url 'blog:post' post.id %}">
                        <h2 class="post-title">
                            {{post.heading }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.sub_heading}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{post.creator}}</a> on {{post.pub_date}}</p>
                </div>
                <hr>
                    {% endfor %}
                {% else %}
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">
                            No posts yet
                        </h2>
                        <h3 class="post-subtitle">
                            Please check back later or contact Me.
                        </h3>
                    </a>
                    
                </div>
                {% endif %}
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
{% endblock %}