{% extends "blog/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="text-center">Welcome to my blog</h1>


</div>

    {% if latest_post %}
    {% for foo in latest_post %}

        <div class=" vertical-col left" id="main">
            <div class="grid grid-pad  row-height-4"  >
                <div class="col  col-0_12-12"  >
                    <div class="content-area vertical-col">

                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                <a href="{% url 'post' foo.id %}">
                                    <h4> {{foo.heading }}</h4>
                                </a>
                                <div>
                                    <span>{{ foo.pub_date }}</span>
                                    <span>{{ foo.creator }}</span>
                                </di>

                            </div>
                            <div class="panel-body">
                                {{ foo.body|safe }}
                            </div>

                        </div>
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                      <a class="accordion-toggle" data-toggle="collapse"  href="#{{ foo.id }}">{{ foo.comment_set.count }}View Comments</a>
                                </h4>
                            </div>
                            <div id="{{ foo.id }}" class="panel-collapse collapse">
                                <div class="panel-body pbc">
                                    <div class="col">
                                            <div  class="list-group ">
                                                {% for comment in foo.comment_set.all %}
                                                <a class="list-group-item allow-badge " >
                                                    <p class="list-group-item-text">{{ comment.com_date }}</p>
                                                    <h4 class="list-group-item-heading">{{ comment.comment }}</h4>
                                                </a>
                                                {% endfor %}
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>


    {% endfor %}
{% endif %}


{% endblock %}




