{% extends 'application.html' %}
{% block app %}
    <header role="banner">
    <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
      <div class="container">

        <button class="navbar-toggler order-2 order-md-1"
                type="button"
                data-toggle="collapse"
                data-target="#navbar"
                aria-controls="navbar"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3 order-md-2" id="navbar">
          <ul class="navbar-nav mr-auto">

            {% if display_categories %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"
                     href="#"
                     id="dropdown02"
                     data-toggle="dropdown"
                     aria-haspopup="true"
                     aria-expanded="false">Categories</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown02">
                      {% for category in request.categories %}
                          <a class="dropdown-item" href="post-image.html">{{ category.name }}</a>
                      {% endfor %}
                  </div>
                </li>

            {% endif %}

            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user }}</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="{% url 'blog:posts:create' %}">New Post</a>
                    <a class="dropdown-item" href="{% url 'blog:categories:create' %}">New Category</a>
                  </div>
                </li>

            {% endif %}

          </ul>
        </div>

        <a class="navbar-brand mx-auto order-1 order-md-3" href="{% url 'blog:index' %}">{{ request.site.name }}</a>

        <div class="collapse navbar-collapse order-4 order-md-4" id="navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:contact' %}">Contact</a>
            </li>

              {% if request.user.is_authenticated %}
                  <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin:dashboard' %}">Backend</a>
                  </li>
              {% endif %}

          </ul>
          <form class="form-inline" role="search" method="get" action="{% url 'blog:posts:list' %}">
            <input class="search js-search form-control form-control-rounded mr-sm-2"
                   type="text"
                   name="q"
                   title="Enter search query here.."
                   {% if request.GET.q %}
                       value="{{ request.GET.q }}"
                   {% endif %}
                   placeholder="Search.."
                   aria-label="Search">
          </form>
        </div>
      </div>
    </nav>
  </header>

    <main class="main pt-4" role="main">

    <div class="container">

      <div class="row">
          {% block content %}{% endblock %}

      </div>
    </div>


    </main>

    <div class="site-newsletter">
    <div class="container">
      <div class="text-center">
        <h3 class="h4 mb-2">Subscribe to my newsletter</h3>
        <p class="text-muted">Join my monthly newsletter and never miss out on new stories and promotions.</p>

        <div class="row">
          <div class="col-xs-12 col-sm-9 col-md-7 col-lg-5 ml-auto mr-auto">
            <div class="input-group mb-3 mt-3">
              <input type="text" class="form-control" placeholder="Email address" aria-label="Email address">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Subscribe</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
{% comment %}
    <div class="site-instagram">
    <div class="action">
      <a class="btn btn-light" href="https://instagram.com/danleyb2/">
        Follow me @ Instagram
      </a>
    </div>
    <div class="row no-gutters">
      <div class="col-sm-6">
        <div class="row no-gutters">
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="https://milo.bootlab.io/img/instagram/1.jpg" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="https://milo.bootlab.io/img/instagram/2.jpg" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="https://milo.bootlab.io/img/instagram/3.jpg" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="https://milo.bootlab.io/img/instagram/4.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row no-gutters">
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="https://milo.bootlab.io/img/instagram/5.jpg" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="https://milo.bootlab.io/img/instagram/6.jpg" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="https://milo.bootlab.io/img/instagram/7.jpg" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="https://milo.bootlab.io/img/instagram/8.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endcomment %}

    <footer class="site-footer bg-darkest" role="contentinfo">
    <div class="container">

      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Privacy policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Terms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Advertise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Contact</a>
        </li>
      </ul>
      <div class="copy">
        &copy; danleyb2.online 2019<br />
        All rights reserved
      </div>
    </div>
    </footer>


{% endblock %}