{% extends "blog/layout_post.html" %}

{% block post %}
    {% if posts.paginator.count %}
        {% for post in posts %}
            <article class="card mb-4">
                <header class="card-header">
                    <div class="card-meta">
                        <time class="timeago" datetime="2017-10-26 20:00">
                            By <a href="#">{{ post.creator }}</a> on {{ post.created_at|date }}
                        </time>
                        in <a href="page-category.html">{{ post.category }}</a>
                    </div>
                    <a href="{% url 'blog:posts:post:view-slug' post.pk post.slug %}">
                        <h4 class="card-title">{{ post.heading }}</h4>
                    </a>
                </header>
                <a href="{% url 'blog:posts:post:view-slug' post.pk post.slug %}">
                    <img class="card-img" src="img/articles/8.jpg" alt=""/>
                </a>
                {% if post.sub_heading %}
                <div class="card-body">
                    <p class="card-text">{{ post.sub_heading }}</p>
                </div>
                {% endif %}
            </article><!-- /.card -->
        {% endfor %}

         {% if posts.has_other_pages %}
             <nav>
                <ul class="pagination justify-content-center mt-2">
                    {% if posts.has_previous %}
                        <li class="page-item ">
                            <a class="page-link"
                               href="?page={{ posts.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item  disabled"><a class="page-link">Previous</a></li>
                    {% endif %}
			        <li class="active page-item"><a class="page-link"> Page {{ posts.number }} of {{ posts.paginator.num_pages }} </a></li>
                    {% if posts.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next</a>
                        </li>
                    {% else %}
                        <li class="disabled page-item"><a class="page-link">Next</a></li>
                    {% endif %}
                </ul>
             </nav>
         {% endif %}

    {% else %}
        <div class="post-preview">
            <h2 class="post-title">
                No posts yet
            </h2>
            <h3 class="post-subtitle">
                Please check back later.
            </h3>
        </div>
    {% endif %}


{% endblock %}