{% extends "blog/layout.html" %}
{% load web_filters %}

{% block content %}

    <div class="col-md-8">

        <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p style="color: red">Error {{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}"
                                   {% if field.field.required %}required{% endif %}>{{ field.label }}</label>
                            {{ field|addclass:'form-control' }}
                            <span class="form-text text-muted">{{ field.help_text }}</span>
                        </div>

                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>

                {% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}
            </form>

    </div>

{% endblock %}


{% block scripts %}

{% endblock %}
