{% extends 'admin/layout.html' %}

{% block nav %}

    <nav class="nav">
        <a class="nav-link" href="{% url 'admin:dashboard' %}">dashboard</a>

        <a class="nav-link" href="{% url 'admin:posts:list' %}">posts</a>
        <a class="nav-link active" href="{% url 'admin:categories:list' %}">categories</a>
        {#  <a class="nav-link" href="#">Link</a>#}
        <a class="nav-link disabled" href="{% url 'admin:media:list' %}" tabindex="-1" aria-disabled="true">media</a>
        <a class="nav-link disabled" href="{% url 'admin:users:list' %}" tabindex="-1" aria-disabled="true">users</a>
        <a class="nav-link disabled" href="{% url 'admin:settings:list' %}" tabindex="-1"
           aria-disabled="true">settings</a>

        <a class="nav-link" href="{% url 'blog:index' %}">View Site</a>


    </nav>


{% endblock %}

{% block content %}


    <div class="card">
        <div class="card-body">
            <a href="{% url 'blog:categories:create' %}" class="card-link">Create New</a>

        </div>
        <div class="card-body">
            {% if categories.exists %}

                <ul class="list-group">
                    {% for category in categories %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ category.name }}
                            {{ category.slug }}

                            <a class="badge badge-primary badge-pill" href="{% url 'blog:categories:create' %}">edit</a>
                            <a class="badge badge-danger badge-pill" href="{% url 'blog:categories:create' %}">delete</a>

                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="post-preview">
                    <h2 class="post-title">
                        No Categories yet
                    </h2>

                    <a href="{% url 'blog:categories:create' %}">create</a>

                </div>
            {% endif %}

        </div>
    </div>


{% endblock %}
