{% extends 'application.html' %}
{% load active_link_tags %}

{% block app %}

    <div class="container">

        {% block nav %}

            <nav class="nav">
                <a class="nav-link {% active_link 'admin:dashboard' 'active' %}"
                   href="{% url 'admin:dashboard' %}">dashboard</a>
                <a class="nav-link {% active_link 'admin:posts:list' 'active' %}"
                   href="{% url 'admin:posts:list' %}">posts</a>
                <a class="nav-link {% active_link 'admin:categories:list' 'active' %}"
                   href="{% url 'admin:categories:list' %}">categories</a>
                <a class="nav-link {% active_link 'admin:media:list' 'active' %}"
                   href="{% url 'admin:media:list' %}"
                   tabindex="-1"
                   aria-disabled="true">media</a>

                <a class="nav-link {% active_link 'admin:users:list' 'active' %}"
                   href="{% url 'admin:users:list' %}"
                   tabindex="-1"
                   aria-disabled="true">users</a>

                <a class="nav-link {% active_link 'admin:settings:list' 'active' %}"
                   href="{% url 'admin:settings:list' %}"
                   tabindex="-1"
                   aria-disabled="true">settings</a>

                <a class="nav-link {% active_link 'notion:config' 'active' %}"
                   href="{% url 'notion:config' %}"
                   tabindex="-1"
                   aria-disabled="true">notion</a>

                <a class="nav-link" href="{% url 'blog:index' %}">View Site</a>

            </nav>


        {% endblock %}
        {% block content %}{% endblock %}

    </div>
{% endblock %}
